:root {
    line-height: 1.5;
    font-weight: 400;

    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;

}


a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
