:root {
    line-height: 1.5;
    font-weight: 400;

    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes speedSpin {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes halo {
    0% {
        box-shadow: "10px 10px 100px 30px #000054";
    }
    50% {
        box-shadow: "10px 10px 100px 500px #000054";
    }
    100% {
        box-shadow: "10px 10px 100px 30px #000054";
    }
}

@keyframes dingle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-29deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
